
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 550;
    font-style: normal;
}

body {
    background-color: rgb(24, 23, 23);
}

.cont {
    display: flex;
    flex-direction: row;
}

.left {
    height: 100vh;
    width: 25vw;
    padding: 10px;
    display: grid;
    grid-template-areas: 
        "home"
        "lib"
        "lib";
    transition: all 0.3s ease;
}

.right {
    height: 100vh;
    width: 75vw;
    position: relative;
}

.home {
    background-color: #121212;
    color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 7px;
    grid-area: home;
}

.home ul li {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 10px 0;
}

.invert {
    filter: invert(1);
}

.lib {
    height: 75vh;
    width: 100%;
    background-color: #121212;
    border-radius: 7px;
    grid-area: lib;
    padding: 10px;
    margin: 3px;
}

.mainlib {
    display: flex;
    justify-content: space-between;
}

.libfolder {
    display: flex;
    gap: 7px;
    align-items: center;
}

.libimg, .plusimg {
    width: 24px;
}

.cast1, .cast2 {
    margin: 8px;
    padding: 18px;
    filter: invert(1);
    background-color: rgba(14, 13, 13, 0.096);
    border-radius: 7px;
}

.h2c, .cast2 h2 {
    font-size: 18px;
    padding: 6px;
}

.pc, .cast2 p {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    padding: 6px;
}

.bc {
    column-gap: 4rem;
    color: white;
    text-decoration: none;
    padding: 6px;
    font-size: 1rem;
    font-weight: 600;
}

.sb a {
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 21px;
}

.brows a {
    padding: 9px;
    color: black;
    border-radius: 21px;
    text-decoration: none;
}

.brows {
    background-color: black;
    margin-right: 7rem;
    display: flex;
    align-items: center;
    border-radius: 21px;
    justify-content: center;
}

.cast {
    height: 47%;
    width: 103%;
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 4px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #353333;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #777474;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.footer {
    padding-left: 1.3rem;
    padding-top: 32px;
}

.f1, .f2, .f3, .f4, .f5, .f6, .f7 {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    padding-right: 20px;
}

.buttons {
    padding-left: 2rem;
    align-items: center;
    justify-content: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border-radius: 6rem;
    border: 2px solid white;
    gap: 2px;
    background-color: rgb(0, 0, 0);
}

button span {
    color: white;
    font-size: 15px;
}

.world {
    width: 20px;
    height: 20px;
    padding-right: 2px;
    filter: invert(1);
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 30px;
    margin: 20px;
    margin-top: 12px;
    margin-right: 3px;
    background-color: rgba(0, 0, 0, 0.21);
    border-radius: 8px;
}

.righttop {
    display: flex;
    flex-direction: row;
}

.imgleft, .imgright {
    height: 30px;
    filter: invert(1);
    border-radius: 20px;
    background-color: rgba(18, 18, 18, 0.055);
    margin-right: 7px;
}

.imgright {
    margin-right: 28px;
}

.s {
    height: 25px;
    padding-left: 1px;
    filter: invert(1);
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    border: 2px solid white;
    padding: 15px;
}

.value {
    margin: 7px;
}

.gap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

#searchme {
    padding: 3px 7rem 4px 3px;
    color: rgba(0, 0, 0, 0.304);
    filter: invert(1);
    border: 1px solid rgba(193, 27, 27, 0.071);
}

.page {
    display: flex;
    align-items: center;
    gap: 3px;
}

.sign {
    padding: 1rem;
}

#sign, .logme {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.477);
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: white;
    border-radius: 21px;
}

.padcard {
    display: flex;
    flex-direction: column;
    background-color: rgb(89, 96, 89);
    margin: 0.2rem;
    padding: 0.1rem;
    align-items: center;
    position: relative;
}

.card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0 5rem;
}

.imgsong {
    height: 10rem;
    width: 9rem;
    border-radius: 4px;
}

.sn {
    font-size: 0.8rem;
    font-weight: 700;
    font-family: "Noto Serif", serif;
}

.singerimage {
    height: 1.8rem;
    width: 1.8rem;
    filter: invert(1);
    border-radius: 7rem;
    margin-right: 0.3rem;
}

.singer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4px;
}

.singername {
    font-size: 0.8rem;
}

.like {
    display: flex;
    filter: invert(1);
    color: red;
    margin-right: 0.3rem;
}

.like img {
    height: 1rem;
    width: 1.2rem;
    filter: invert(1);
}

.playbutton {
    display: inline-block;
    background-color: green;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: 7.8rem;
    right: 0.3rem;
    opacity: 0;
    transition: all 200ms ease-in;
}

.padcard:hover .playbutton {
    opacity: 1;
    top: 7.4rem;
}

.playbutton img {
    height: 1.2rem;
    display: block;
}

.rightfoot h1 {
    font-size: 1.5rem;
    padding-left: 3rem;
    padding-bottom: 0.5rem;
}

.playbar {
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 10%;
    background-color: rgb(190, 51, 51);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    margin: 1rem;
    cursor: pointer;
}

.songplay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1.3rem;
}

.play {
    height: 2rem;
}

.songlist {
    position: absolute;
    top: 62%;
    margin-left: 4.17rem;
    height: 14rem;
    overflow-y: scroll;
}

.songlist ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
    padding: 12px 1rem;
    border: 1px solid white;
    width: 69vw;
    cursor: pointer;
    margin-bottom: 0.2rem;
}

.front {
    height: 35px;
    color: antiquewhite;
    background-color: red;
    align-items: center;
}

.end {
    height: 35px;
    color: antiquewhite;
    align-items: center;
    background-color: green;
    border-radius: 6rem;
}

.info {
    display: flex;
    gap: 10rem;
}

.headhead {
    position: absolute;
    top: 55%;
    padding-left: 3.99rem;
}

.seekbar {
    position: absolute;
    border: 4px solid white;
    border-radius: 14px;
    height: 7px;
    width: 90%;
    bottom: 5px;
    cursor: pointer;
}

.circle {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 3rem;
    background-color: blue;
    bottom: -10px;
    margin-left: -3.5px;
    left: 0%;
}

.abovebar {
    display: flex;
    justify-content: space-evenly;
    gap: 17rem;
    padding-top: 1rem;
}

.humburger {
    display: none;
    height: 2.5rem;
    width: 3rem;
    padding-right: 12px;
}

.close {
    height: 2rem;
    width: 3rem;
    position: absolute;   
    top: 2rem;
    right: -2rem;
    margin: 1rem;
}

@media (max-width: 1240px) {
    .left {
        position: absolute;
        left: -100%;
        transition: all 0.3s;
        z-index: 1;
    }
    .humburger {
        display: block;
    }
    .right {
        width: 100vw;
    }
}

@media (max-width: 768px) {
    .left {
        width: 40vw;
    }
    .right {
        width: 60vw;
    }
    .home {
        padding: 5px;
    }
    .lib {
        height: 50vh;
    }
    .top {
        flex-direction: column;
        padding: 10px;
    }
    .buttons, .page, .sign, .input {
        flex-direction: column;
        gap: 5px;
    }
    .songlist ul li {
        flex-direction: column;
        width: 100%;
    }
    .info {
        flex-direction: column;
        gap: 5px;
    }
}
